<div class="flex-layout sidebar-wrapper">
  <div class="sidebar-header d-flex align-items-center justify-content-between">
    <app-branding></app-branding>
  </div>

  <!-- Mobile Controls (Search) -->
  <div class="mobile-sidebar-controls d-show-mobile-block p-x-24">
    <!-- Search Box -->
    <div class="sidebar-search-container m-b-12">
      <i-tabler name="search" class="icon-16 search-icon"></i-tabler>
      <input type="text" placeholder="Search..." class="sidebar-search-input" />
    </div>
  </div>

  <!-- Scrollable Nav Items list -->
  <div class="sidebar-nav-container">
    <mat-nav-list class="sidebar-list">
      <app-nav-item *ngFor="let item of normalNavItems" [item]="item"> </app-nav-item>
    </mat-nav-list>
  </div>

  <!-- Fixed Settings Item at the bottom -->
  <div class="sidebar-footer" *ngIf="settingsItem">
    <div class="footer-divider"></div>
    <mat-nav-list class="sidebar-list footer-list">
      <app-nav-item [item]="settingsItem"></app-nav-item>
    </mat-nav-list>
  </div>
</div>
