$mat-primary: (
  100: white,
  500: $primary,
  700: $primary,
  contrast: (
    100: $primary,
    500: white,
    700: white,
  ),
);
$mat-secondary: (
  100: white,
  500: $accent,
  700: $accent,
  contrast: (
    100: $primary,
    500: white,
    700: white,
  ),
);

$mat-warn: (
  100: $light-error,
  500: $error,
  700: darken($error, 8%),
  contrast: (
    100: white,
    500: white,
    700: white,
  ),
);

$theme-primary: mat.define-palette($mat-primary, 500);
$theme-accent: mat.define-palette($mat-secondary, 500);
$theme-warn: mat.define-palette($mat-warn, 500);

$bluetheme: mat.define-light-theme(
  (
    color: (
      primary: $theme-primary,
      accent: $theme-accent,
      warn: $theme-warn,
    ),
    typography:
      mat.define-typography-config(
        $font-family: "Inter",
        $subtitle-2: mat.define-typography-level(13px, 20px, 500),
        $subtitle-1: mat.define-typography-level(20px, 26px, 600),
        $headline-6: mat.define-typography-level(18px, 26px, 600),
        $headline-5: mat.define-typography-level(24px, 32px, 700),
        $button: mat.define-typography-level(14px, 14px, 500),
        $body-1: mat.define-typography-level(14px, 22px, 400),
        $body-2: mat.define-typography-level(15px, 24px, 400),
      ),
  )
);

.bg-primary {
  background: mat.get-color-from-palette($theme-primary, 500) !important;
}
